{% extends 'portfolio/base.html' %}

{% block content %}
<h2>Linu have writtten total {{ blog_objs.count }} blog{{blog_objs.count | pluralize }} you may like to read!</h2>
<h4>
    <div class="align-center">
        {% for objs in blog_objs %}
        <p> <a href="{% url 'blog:detail' objs.id %}"> Title: {{objs.title}} </a></p>

        <p>Description: {{objs.desc|truncatechars:150}}</p>
        <br>
        <p>Dated: {{ objs.date|date:'M d Y' | upper }}</p>
        {% endfor %}
</h4>
{% endblock %}